<div style="height: 30px;margin-top: 17px;opacity: 80%;margin-bottom: 20px;border-radius: 5px;"></div>

<div class="container group d-flex justify-content-center" style="margin-bottom: 50px;margin-top: 30px;">
  <div class="grid-1-5" style="width:fit-content;height: fit-content;">
<div class="control-group" style="margin-bottom: 10px;">
<label class="control-label"  for="username" ><b>Admin Name</b></label>
          <div class="controls">
            <input type="text" id="username" name="username" placeholder="Enter your username" class="input-xlarge" #userName>
          </div>
        </div>  
        <div class="control-group" style="margin-bottom: 10px;">
         <label class="control-label"  for="username"><b>Date of Birth</b></label>
          <div class="controls">
            <input type="date" id="dob" name="dob" placeholder="" class="input-xlarge" #dob>
          </div>
        </div>
        <div class="control-group" style="margin-bottom: 10px;">
            <label class="control-label" for="email"><b>E-mail</b></label>
            <div class="controls">
              <input type="email" id="email" name="email" placeholder="Enter your email" class="input-xlarge" #email>
              
            </div>
          </div>

          <div class="control-group" style="margin-bottom: 10px;">
            <label class="control-label" for="password"><b>Password</b></label>
            <div class="controls">
              <input type="password" id="password" name="password" placeholder="Set Password" class="input-xlarge" #password>
             
            </div>
          </div>

          <div class="control-group" style="margin-bottom: 10px;">
             <label class="control-label"  for="password_confirm"><b>Password(Confirm)</b></label>
            <div class="controls">
              <input type="password" id="password_confirm" name="password_confirm" placeholder="Re Enter Password" class="input-xlarge" #repassword>
            </div>
          </div>
         <fieldset>
          <div class="control-group" style="margin-bottom: 10px;">
             <label class="control-label"  for="username"><b>Bio</b></label>
            <div class="controls">
              <textarea rows="4" cols="40" type="text" id="about" name="about" placeholder="Enter your bio" class="input-xlarge" #about></textarea>
            </div>
          </div>
          <div class="control-group"> 
             <div class="controls">
              <button class="btn btn-primary" type="submit" (click)="saveUser(userName.value, dob.value, email.value, password.value, repassword.value, about.value)">Sign up</button>
            </div>
          </div>
        </fieldset>
  </div>
</div>        