<div style="height: 50px;margin-top: 17px;opacity: 80%;margin-bottom: 20px;border-radius: 5px;"></div>
<div class="col-md-6 offset-md-3">
    <h3> Update Book Details</h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label style="font-weight: bold;margin-top: 10px;margin-bottom: 10px;"> Book Name</label>
            <input type="text" class ="form-control" id = "bookName"
                [(ngModel)] = "book.bookName" name = "bookName">
        </div>
        
        <div class="form-group">
            <label style="font-weight: bold;margin-top: 10px;margin-bottom: 10px;"> Author Name</label>
            <input type="text" class ="form-control" id = "authorName"
                [(ngModel)] = "book.authorName" name = "authorName">
        </div>
        <div class="form-group">
            <label style="font-weight: bold;margin-top: 10px;margin-bottom: 10px;"> Price </label>
            <input type="text" class ="form-control" id = "price"
                [(ngModel)] = "book.price" name = "price">
        </div>

    
        <div class="form-group">
            <label style="font-weight: bold;margin-top: 10px;margin-bottom: 10px;">No. of Copies </label>
            <input type="text" class ="form-control" id = "noCopies"
                [(ngModel)] = "book.noCopies" name = "noCopies">
        </div>
        
    
        
        <div class="form-group">
            <label style="font-weight: bold;margin-top: 10px;margin-bottom: 10px;"> Published/Unpublished </label>
            <input type="text" class ="form-control" id = "isPublished"
                [(ngModel)] = "book.isPublished" name = "isPublished">
        </div>
        <button class = "btn btn-success" type ="submit"style="margin-top: 20px;margin-bottom: 20px;">Submit</button>
        <button class="btn btn-sm btn-primary" style="float:right;margin-bottom: 50px;margin-right: 5px;margin-top: 20px;" (click)="goBack()">Back</button>
    </form>
