<!-- <!DOCTYPE html>
<html lang="en" >
  <div style="height: 50px;margin-top: 17px;opacity: 80%;margin-bottom: 20px;border-radius: 5px;"></div>
  <div class="container" style="height:450px;">
<section class='login' id='login'>
  <div class='head'>
  <h1 class='company'>Book Kart</h1>
  </div>
  <p class='msg'>Login</p>
  <div class='form'>
  <input type="text" placeholder='User Email' [(ngModel)]="username" class='text' id='username' required><br>
  <input type="password" placeholder='••••••••••••••' [(ngModel)]="password" class='password'><br>
  <button  (click)="signin(email.value, password.value)" class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
  </div>
</section>
</div>
</html> -->


<!-- <div class="container">
    <section class="background-radial-gradient overflow-hidden">
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
      <div class="row gx-lg-5 align-items-center mb-5">
        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                  <div class="control-group" style="margin-bottom: 10px;">
                    <label class="control-label" for="email">E-mail</label>
                    <div class="controls">
                      <input type="email" id="email" name="email" placeholder="Enter your email" class="input-xlarge" #email>
                    </div>
                  </div>
                  <div class="control-group" style="margin-bottom: 10px;"> 
                    <label class="control-label" for="password">Password</label>
                    <div class="controls">
                      <input type="password" id="password" name="password" placeholder="Set Password" class="input-xlarge" #password>
                    </div>
                  </div>
                <div class="control-group">
                  <div class="controls">
                    <button type="submit" class="btn btn-primary" (click)="signin(email.value, password.value)">Sign-In</button>
                  </div>
                </div>
           </div> -->


<div style="height: 50px;margin-top: 17px;opacity: 80%;margin-bottom: 20px;border-radius: 5px;"></div>      
<div class="container group d-flex justify-content-center" style="margin-bottom: 50px;margin-top: 30px;">
  <div class="grid-1-5" style="width:fit-content;height: fit-content;">
    <div class="control-group" style="margin-bottom: 10px;margin-top:20px">
      <label class="control-label" for="email"><b>E-mail</b></label>
      <div class="controls">
        <input type="email" id="email" name="email" placeholder="Enter your email" class="input-xlarge" #email>
      </div>
    </div>
    <div class="control-group" style="margin-bottom: 10px;"> 
      <label class="control-label" for="password"><b>Password</b></label>
      <div class="controls">
        <input type="password" id="password" name="password" placeholder="Set Password" class="input-xlarge" #password>
      </div>
    </div>
  <div class="control-group">
    <div class="controls group d-flex justify-content-center" style="margin-top:30px">
      <button type="submit" class="btn btn-primary" (click)="signin(email.value, password.value)">LogIn</button>
    </div>
  </div>
  </div>
</div>



