<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />


<div class="container  group d-flex justify-content-center" style="height: 800px;">
<section class="section-signup">
    <div class="row">
      <div class="card card-signup" data-background-color="orange" style="border-radius: 20px;">
        <form class="form" method="" action="">
          <div class="card-header text-center">
            <h3 class="card-title title-up">Feedback Us</h3>
            <div class="social-line">
              <a href="https://www.amazon.in/Books/b?ie=UTF8&node=976389031" class="btn btn-neutral btn-round" style="margin: 5px;">
                <i class="bi bi-google"></i>
              </a>
              <a href="https://www.google.com/maps/d/u/0/viewer?mid=10Dg861xJNy18dTvB6dHk9fp8dRQ&hl=en_US&ll=26.399822500000035%2C-98.158046&z=22" class="btn btn-neutral  btn-round" style="margin: 5px;">
                <i class="bi bi-geo-alt-fill"></i>
              </a>
              <a href="https://www.instagram.com/" class="btn btn-neutral  btn-round" style="margin: 5px;">
                <i class="bi bi-instagram"></i>
              </a>
            </div>
          </div>
          <div class="card-body">
            <div class="input-group no-border">
              <div class="input-group-prepend">
                <span class="input-group-text" style="padding-right: 15px;">
                  <i class="now-ui-icons users_circle-08"></i>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="Name..." style="margin-left: 10px;"/>
            </div>
            <div class="input-group no-border">
              <div class="input-group-prepend">
                <span class="input-group-text" style="padding-right: 15px;">
                  <i class="now-ui-icons text_caps-small"></i>
                </span>
              </div>
              <input type="text" placeholder="Feedback Message..." class="form-control" style="margin-left: 10px;"/>
            </div>
            <div class="input-group no-border">
              <div class="input-group-prepend">
                <span class="input-group-text" style="padding-right: 15px;">
                  <i class="now-ui-icons ui-1_email-85"></i>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="Email..."style="margin-left: 10px;">
            </div>
          </div>
          <div class="card-footer text-center">
            <a href="http://localhost:4200/" class="btn btn-neutral btn-round btn-lg">Submit</a>
          </div>
        </form>
      </div>
    </div>
</section>  
</div>
